* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App>h2 { 
  color: #375698;
  margin: 15px 0;
}